body {
	font-family: "Roboto Slab", "Georgia";
	font-size: large;
	margin: 2em;
}

section {
	max-width: 600px;
	margin: auto;
}

.header {
	max-width: 600px;
	margin: auto;
	font-size: medium;
	font-style: italic;
}

/*
.sub_title {
	margin-top: -20px;
}
*/

.blog_title {
	margin-left: -20px;
}

h1, h3, h5 {
	font-style: normal;
	color: #373fff;
}

h2, h4 {
	font-style: italic;
	color: #373fff;
}

/* https://gomakethings.com/smooth-scrolling-links-with-only-css/ */
html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* highlighted code blocks */
pre {
	border-radius: 10px;
	padding: 10px;
	overflow-x: auto;
	/* width: 80ch; /*use this rule to make 80 column pre blocks*/
}

.highlight {
	font-family: "Roboto Mono";
}
