body {
	font-family: "Roboto Slab", "Georgia";
	font-size: large;
	line-height:  1.5;
}

section {
	max-width: 39rem;
	padding: 1rem;
	margin: auto;
}

a, a:visited {
	/* color: #6495ed; */
	color: #4881ea;
}

.header {
	max-width: 42em;
	margin: auto;
}

.main_header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.sub_title {
	font-size: medium;
	text-align: right;
	/* display: flex; */
	/* justify-content: flex-start; */
}

h1, h3, h5 {
	font-style: normal;
	/* color: #373fff; */
	/* color: #0d3172; */
}

h2, h4 {
	font-style: italic;
	/* color: #373fff; */
	/* color: #0d3172; */
}

/* https://gomakethings.com/smooth-scrolling-links-with-only-css/ */
html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* highlighted code blocks */
pre {
	border-radius: 10px;
	padding: 10px;
	overflow-x: scroll;
	background-color: #eee;
	/* width: 80ch; /*use this rule to make 80 column pre blocks*/
}

.highlight pre:hover, pre:hover {
	width: max-content;
	min-width: calc(100% - 20px); /* minus 20px for the padding */
}

code {
	font-family: "Roboto Mono";
	font-size: 12pt;
}

blockquote {
	border-left: solid 5px grey;
	padding-left: 15px;
	font-style: italic;
	color: grey;
	margin: auto;
}

p code {
	background-color: #ddd;
	/* border: solid 1px #ddd; */
	border-radius: 5px;
	padding: 0px 5px 0px 5px;
}

.footer {
	height: 200px;
}
